body {
  margin: 0;
  font-family: 'MyFont';
  background-image: url(img/background/background.png);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'MyFont';
  src: url(fonts/Butler.woff2) format('woff2'),
    url(fonts/Butler.woff) format('woff');
}